*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #D8DA3D;
    color: #80007E;
}

.col {
    float: left;
}

.col.left{
      width: 200px;
      padding-top: 25px;
      padding-left: 2px;
      height: 150px;
}

.col.right{
      width: 1111px;
      padding-top: 12px;
      padding-left: 10px;
      height: 450px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 8px;
    padding-left: 8px;
}

p{
    margin: 11px;
}

#line{
    border-style: dashed;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 25px;
}

a{
    text-decoration: none;
}

ul li{
    background-color: white;
    width: 160px;
    margin: 7px;
    list-style-type: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
}

.r1r3{
    border-right: 15px solid #ff7f00;
}

.r2r4{
    border-right: 15px solid #0000ff;
}

#author{
    margin-top: 15px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

#block_1{
    width: 850px;
    padding: 8px;
    margin-bottom: 20px;
    border:dashed 1px black;
    color: black; 
    font-size: larger;
}


#block_2{
    font-style: italic;
    width: 850px;
    padding: 8px;
    margin-bottom: 20px;
    border-style: dashed;
    border-width: 1px;
    border-color: #ff7f00;
    color: black; 
    text-align: right;
    font-size: larger;
}

#block_3{
    width: 850px;
    padding: 8px;
    margin-bottom: 40px;
    border-style: dashed;
    border-width: 1px;
    border-color: #0000ff;
    color: black; 
    text-align: center;
    font-size: larger;
}